img {
  max-width: 100%;
  height: auto;
}

#mainMenu .nav-link {
  color: #17a2b8;
}

#mainMenu .nav-link:hover {
  background: #17a2b8;
  color: #333;
  border-radius: 5px;
}

#mainMenu .nav-link.active {
  background: #17a2b8;
  color: #333;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #262626;
}

#contact {
  background: url(../img/map.jpg);
}

#footer ul a {
  color: #262626;
  text-decoration: none;
}

#footer ul a:hover {
  color: #17a2b8;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  #about {
    padding: 25px;
  }
}
